
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,900italic|Noto+Sans:400,700,400italic,700italic&subset=latin-ext);

@import "bootstrap-compass";
@import "bootstrap";
@import "bootstrap-variables";


body {
    font-family: $font-family-sans-serif;
}

h1 {
    font-family: $font-family-emphasis;
    font-weight: 900;
}
//* Flash Cards

img.large-card {
        width: 600px;
        margin: 2em;
        border: 4px darkblue solid;
        border-radius: 10px;
    }

  div.card-container {
    width: 200px;
    height: 130px;
  }

    div.small-card {
        width: 200px;
        height: 130px;
        border: 4px darkblue solid;
        margin: 2em;
        border-radius: 10px;
        text-align: center;
    }

  div.card-container {
    width: 200px;
    height: 130px;
    margin: 2em;
  }

  div.card-container div img {
    width: 200px;
    height: 130px;
    border: 4px darkblue solid;
    border-radius: 10px;
  }

  div.card-alerts {
    background-color: orange;
    width: 48px;
    height: 48px;
    float: left;
    border-radius: 24px;
    padding: 12px 8px;
  }