
/*
    Title: Styles for Speak Agent App - Author Interface
    Version: 0.1
    Description: Author Interface styles
    ====================
*/

// Fonts
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,900italic|Noto+Sans:400,700,400italic,700italic&subset=latin-ext);
@import "font-awesome.scss";
// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";

// Variables

$img-listitem-width: 50px;

/*
    0.0 Base Structure
    ====================
    */
html {
    height: 100%;
}
body {
    height: 100%;
    font-weight: 400;
    &.alt {
    }
}

a {
    @include transition(color 0.2s, background-color 0.2s);
}

/* Global Containers */
.c-img {
    img {
        max-width: 100%;
    }
}
.c-fluid-main {
    padding: 0;
}
.c-buttons {
    margin-top: 20px;
}

/* Miscellaneous Attribute Controls */

.no-shadow {
    box-shadow: none !important;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-bottom-border {
    border-bottom-width: 0;
}
.yes-centered {
    text-align: center;
}
.no-border {
    border: 0 !important;
}
.first-item {
    margin-left: 0;
    padding-left: 0;
}
.last-item {
    margin-right: 0;
    padding-right: 0;
}

/* Sticky Footer Code */

.parent-container-main {
    min-height: 100%;
    height: auto;
    margin: 0 auto -40px;
    padding: 0 0 40px;
    &.no-footer {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
    .footer-main {
        height: 40px;
    }

/* Headers */

.page-header {
    border-bottom: 0;
    margin: 0;
    padding: 0 0 8px 0;
}
h1, .h1 {
    font-size: 26px;
    font-weight: 400;
    small {
        text-shadow: none;
    }
}
h5 {
    font-weight: 700;
}

/* Used Primarily on Process areas like adding a new wordlist */
.special-header {
        background-color: $accent-light;
    border-bottom: 1px solid $brand-secondary;
    margin: 0 -20px 20px -20px;
    padding: 24px 20px 8px 20px;
    h1 {
        font-size: 1.1em;
        font-weight: 900;
    }
    .flag-process {
        margin-top: -4px;
        em {
            background-color: $brand-primary;
            display: inline-block;
            font-weight: 900;
            padding: 3px 10px;
            border-radius: 20px;
        }
        &.call-houston {
            em {
                color: #fff;
                background-color: $brand-danger;
            }
        }
    }
}

/* Panels */
.panel {
    border-radius: 0;
    .panel-heading {
        font-weight: 900;
        h3 {
            font-size: 1.2em;
            font-weight: 900;
            line-height: 2.2em;
            margin: 0;
            padding: 0;
        }
    }
}

/* List Groups */
.list-group {
    .list-inline {
        margin-bottom: 0;
    }
    .with-label {
        small {
            color: $gray-lighter;
            font-size: 80%;
            font-weight: 300;
            font-style: italic;
            display: block;
        }
    }
    .list-group-item {

    }
    .list-group-title {
        h3 {
            font-size: 1em;
            font-weight: 400;
            margin: 6px 0 0 0;
        }
    }
}

/* Animation */

.animation-center {
    text-align: center;
    margin: 0 auto;
}

/* Buttons */

.btn {
    @include box-shadow(rgba($shadow-primary, 0.1) 0px 1px 0px);
    position: relative;
    border-width: 2px;
    border-radius: $border-radius-large;
    &:focus, &:active {
        box-shadow: none;
        top: 2px;
    }
    &.btn-with-icon {
        padding-bottom: 4px;
        i {
            font-size: 120%;
        }
    }
    &.btn-link {
        text-decoration: none;
        border: none;
        box-shadow: none;
    }
    &.btn-delete {
        color: $brand-danger;
        &:hover, &:focus {
            color: lighten($brand-danger, 15%);
        }
    }
}


/* Forms */


input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"] {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $gray-lighter;
    box-shadow: none;
    padding: 0;
}
textarea.form-control {
    border: 1px solid $gray-lighter;
    border-radius: 0;
    box-shadow: none;
    min-height: 100px;
}
.form-control {
    &.form-primary {
        border: 0;
        border-radius: $border-radius-large;
        background-color: $accent-light;
        @include box-shadow(rgba($shadow-primary, 0.15) 0px 2px 1px);
        padding: 6px 12px;
    }
    &:focus {
        box-shadow: none;
        outline: none;
    }
}
.flag-optional {
    font-weight: 300;
    font-style: italic;
    text-transform: capitalize;
}
.form-label {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 100%;
}

form {
    ul {
        li {
            margin-bottom: 8px;
        }
    }
}

.form-group {
    &.inline-checkboxes {
        label {
            margin-right: 8px;
        }
    }
}

/* Lists */

ul, ol {
    &.extra-spacing {
        li {
            margin-bottom: 4px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

a.list-group-item {
    cursor: pointer;
}


/* Data Points */

.data-points {
    margin-bottom: 0;
    padding-bottom: 0;
    dt {
        font-weight: 400;
        margin-bottom: 0;
    }
    .data-value {
        color: $accent-primary;
        text-shadow: rgba($shadow-primary, 0.15) 0px 1px 1px;
        font-size: 4em;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 8px;
    }
}

/* Pagination */

ul.pagination {
    border-radius: 0;
    margin: 0;
    a {
        border-radius: 0 !important;
    }
}

/* Images */

img.img-thumbnail {
    border-radius: 0;
}

/* Labels */

.label-private {
    background-color: rgb(148, 77, 148);
}


/*
    A. Main Navigation */

.navbar {
    border-radius: 0;
    .navbar-brand {
        padding: 4px 0 0 15px;
        img {
            width: 64px;
        }
    }
    &.nav-secondary {
        li {
            a {
                &:hover, &:focus {
                    background-color: #fff;
                }
            }
            &.active {
                a {
                    background-color: #fff;
                }
            }
        }
    }
    .nav-error {
        a {
            color: $brand-danger;
            &:hover,
            &:focus {
                color: lighten($brand-danger, 8%);
            }
        }
    }
}

.navbar-static-top {
    border: 0;
    margin-bottom: 0;
    @include box-shadow(rgba($shadow-primary, 0.15) 0px 2px 1px);
    font-weight: 700;
    li a {
        padding-right: 10px;
        padding-left: 10px;
    }
}


.navbar-nav {
    i {
        font-size: 1.5em;
    }
    a {
        text-shadow: rgba($shadow-primary, 0.15) 0px 1px 1px;
    }
    &.nav-secondary {
        background-color: $brand-primary;
        li {
            a {
                &:hover {
                    color: lighten($brand-primary, 30%);
                }
            }
        }
    }
}


/*
    C. Content Panels
*/
.panel {
    box-shadow: none;
    .panel-heading {
        .nav-pills {
            a {
                &:hover,
                &:focus,
                &:active {
                    background-color: #fff;
                }
            }
        }
    }
    .panel-body {
        p:last-child,
        .list-group:last-child,
        ul:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

    }
}


/*
    D. Application Footer
*/

.footer-main {
    font-size: 90%;
    text-align: right;
}


/*
   Main Content Area
*/


/*
    0.0 General
    ====================
    */

.l-main {
  padding: 0 20px 20px 20px;
  .breadcrumb {
    border-radius: 0;
    font-size: 90%;
    margin: 0 -20px 20px -20px;
    padding: 24px 20px 8px 22px;
  }
  &.no-breadcrumb {
    padding-top: 32px;
  }
}

.item-emphasize {
    font-weight: 700;
}

/*
    Splash Screen
*/

.splash {
    text-align: center;
    .splash-img {
        img {
            width: 75%;
        }
    }
}



/* Table of Items */

.o-items-list {
    td {
        vertical-align: middle !important;
    }
    .o-select {
        width: 40px;
        text-align: center;
    }
    .o-status {
        width: 80px;
    }
    .o-title {
        font-weight: 700;
    }
    .o-symbol {
        max-width: 80px;
        width: 80px;
        text-align: center;
        img {
            max-width: $img-listitem-width;
            width: 100%;
        }
    }
    .o-amount {

    }
    .o-language {

    }
    .o-institution {

    }
    .item-status-inactive {
        color: gray;
        .o-title {
            font-weight: normal !important;
        }
        a {
            color: gray;
        }
    }
}


/* Group of Data Panels */

.o-dataitems {
    .o-dataitem {
        margin-bottom: 0;
        border-bottom-width: 0;
        &:last-child {
            border-bottom-width: 1px;
            margin-bottom: 20px;
        }
    }
}


/*
    1.0 Settings and User Profile
    ====================
    */

.happy-scale {
    .radio-inline {
        font-size: 1.2em;
    }
    .value-1 {
        color: $brand-error;
    }
    .value-2 {
        color: darken($brand-error, 15%);
    }
    .value-1, .value-5 {
        font-weight: 700;
    }
    .value-4 {
        color: darken($brand-success, 15%);
    }
    .value-5 {
        color: $brand-success;
    }
}

.user-profile {
    .page-header {
        margin-bottom: 12px;
    }
}

.user-details {
    .user-avatar {
        width: 100%;
        text-align: center;
        display: block;
        img {
            width: 50%;
        }
    }
    .user-fullname {
        font-size: 1.2em;
        font-weight: 900;
        text-align: center;
    }
}

.data-contributions {
    text-align: center;
}

.user-recent-activity {
    a {
        font-weight: 900;
    }
}



/*
    2.0 Wordlists
    ====================
    */


h4.wl-lexeme-word-sense {
    margin: 0 0 20px 0;
}

.wl-photos-videos {
    ul {
        li {
            img.img-thumbnail {
                max-width: 160px;
            }
        }
        .media-controls {
            text-align: center;
        }
    }
}
.wl-symbol {
    img {
        max-width: 100%;
    }
    &.wl-list-symbol,
    &.wl-lexeme-symbol {
        img {
            max-width: 200px;
        }
        text-align: center;
        margin: 0 auto;
    }
}

.wl-new-lexeme-entry {
    input.input-lexeme {
        width: 80%;
    }
}

.c-wordlist-add {
    .lexeme-title {
        margin-top: 4px;
    }
}
/*
    Problem Words
*/
.words-for-review {
    .word-symbol {
        width: 30px;
        margin-right: 10px;
        img {
            max-width: 30px;
        }
    }
    .word-sense {
        line-height: 2.1em;
    }
}



/* Process Pages */

.process {
    h2.page-header {
        margin-bottom: 20px;
    }
}
