
/*
    Title: Styles for Speak Agent App - Author Interface
    Version: 0.1
    Description: Author Interface styles
    ====================
*/

// Fonts
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,900italic|Noto+Sans:400,700,400italic,700italic&subset=latin-ext);
@import "font-awesome.scss";
// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";

// Variables

$img-listitem-width: 50px;

/*
    0.0 Base Structure
    ====================
    */
html {
    height: 100%;
}
body {
    height: 100%;
    font-weight: 400;
}
a {
    @include transition(color 0.2s, background-color 0.2s);
}
.c-img {
    img {
        max-width: 100%;
    }
}
.c-fluid-main {
    padding: 0;
}
.no-shadow {
    box-shadow: none !important;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.c-buttons {
    margin-top: 20px;
}

/* Sticky Footer Code */
.parent-container-main {
    min-height: 100%;
    height: auto;
    margin: 0 auto -40px;
    padding: 0 0 40px;
}
.footer-main {
    height: 40px;
}

/* Headers */

.page-header {
    border-bottom: 0;
    margin: 0;
    padding: 0 0 8px 0;
}
h1, .h1 {
    font-size: 28px;
    font-weight: 900;
    small {
        text-shadow: none;
    }
}
h5 {
    font-weight: 700;
}

/* Used Primarily on Process areas like adding a new wordlist */
.special-header {
    margin: 0 -35px 20px -35px;
    padding: 24px 20px 8px 22px;
    h1 {
        font-size: 1.3em;
    }
}

/* Panels */
.panel {
    border-radius: 0;
    .panel-heading {
        font-weight: 900;
        h3 {
            font-size: 1.2em;
            font-weight: 900;
            line-height: 2.2em;
            margin: 0;
            padding: 0;
        }
    }
}

/* List Groups */
.list-group {
    .list-group-item:last-child {
        @include box-shadow(rgba($shadow-primary, 0.1) 0px 2px 1px);
    }
    .list-inline {
        margin-bottom: 0;
    }
    .with-label {
        small {
            color: $gray-lighter;
            font-size: 80%;
            font-weight: 300;
            font-style: italic;
            display: block;
        }
    }
}

/* Animation */

.animation-center {
    text-align: center;
    margin: 0 auto;
}

/* Buttons */

.btn {
    @include box-shadow(rgba($shadow-primary, 0.1) 0px 1px 0px);
    position: relative;
    border-width: 2px;
    border-radius: $border-radius-large;
    &:focus, &:active {
        box-shadow: none;
        top: 2px;
    }
    &.btn-with-icon {
        padding-bottom: 4px;
        i {
            font-size: 120%;
        }
    }
    &.btn-link {
        text-decoration: none;
        border: none;
        box-shadow: none;
    }
    &.btn-delete {
        color: $brand-danger;
        &:hover, &:focus {
            color: lighten($brand-danger, 15%);
        }
    }
}


/* Forms */


input[type="text"],
input[type="number"]{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $gray-lighter;
    box-shadow: none;
    padding: 0;
}
.form-control {
    &.form-primary {
        border: 0;
        border-radius: $border-radius-large;
        background-color: $accent-light;
        @include box-shadow(rgba($shadow-primary, 0.15) 0px 2px 1px);
        padding: 6px 12px;
    }
    &:focus {
        box-shadow: none;
        outline: none;
    }
}
small.flag-optional {
    font-weight: 300;
    font-style: italic;
}
.form-label {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 100%;
}

form {
    ul {
        li {
            margin-bottom: 8px;
        }
    }
}

/*
    A. Main Navigation */

.navbar-brand {
    padding: 4px 0 0 15px;
    img {
        width: 72px;
    }
}

.navbar-static-top {
    border: 0;
    margin-bottom: 0;
    @include box-shadow(rgba($shadow-primary, 0.15) 0px 2px 1px);
    font-weight: 700;
}

.navbar-nav {
    i {
        font-size: 1.5em;
    }
    a {
        text-shadow: rgba($shadow-primary, 0.15) 0px 1px 1px;
    }
}

/*
    A.1.0 Secondary Navigation */

.navbar-nav {
    &.nav-secondary {
        background-color: $brand-primary;
        li {
            a {
                &:hover {
                    color: lighten($brand-primary, 30%);
                }
            }
        }
    }
}


/*
    B. Forms
*/



/*
    C. Content Panels
*/
.panel {
    @include box-shadow(rgba($shadow-primary, 0.10) 0px 2px 1px);
    .panel-heading {
        .nav-pills {
            a {
                &:hover,
                &:focus,
                &:active {
                    background-color: #fff;
                }
            }
        }
    }
    .panel-body {
        p:last-child,
        .list-group:last-child,
        ul:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

    }
}


/*
    D. Application Footer
*/

.footer-main {
    font-size: 90%;
    text-align: right;
}


/*
    B. Main Content Area
*/

.l-main {
  padding: 0 20px 20px 20px;
  .breadcrumb {
    border-radius: 0;
    font-size: 90%;
    margin: 0 -20px 20px -20px;
    padding: 24px 20px 8px 22px;
  }
  &.no-breadcrumb {
    padding-top: 32px;
  }
}

/*
    1.0 Settings and User Profile
    ====================
    */

/*
    C. Wordlists
*/


/*
    C.1 Wordlists Landing Page
*/

.wl-item {
    td {
        vertical-align: middle !important;
    }
    .wl-title,
    .wl-lexeme-title {
        font-weight: 700;
    }
    .wl-symbol,
    .wl-lexeme-symbol {
        max-width: 80px;
        text-align: center;
        img {
            max-width: $img-listitem-width;
        }
    }
}

/*
    C.2 Wordlist Page
*/

/*
    1. List of Items
*/
.wl-dataitems {
    .wl-dataitem {
        margin-bottom: 0;
        border-bottom-width: 0;
        &:last-child {
            border-bottom-width: 1px;
            margin-bottom: 20px;
        }
        .wl-item {
            .wl-lexeme-title {
                font-weight: 700;
            }
            .wl-lexeme-symbol {
                img {
                    max-width: $img-listitem-width;
                    width: $img-listitem-width;
                }
            }
        }
    }
}

.wl-photos-videos {
    ul {
        li {
            img.img-thumbnail {
                max-width: 160px;
                border-radius: 0;
            }
        }
        .media-controls {
            text-align: center;
        }
    }
}
.wl-symbol {
    img {
        max-width: 100%;
    }
    &.wl-list-symbol,
    &.wl-lexeme-symbol {
        img {
        max-width: 200px;
        }
        text-align: center;
        margin: 0 auto;
    }
}



.wl-lexeme-dataitem {
    border-bottom-width: 0;
    margin-bottom: 0;
    &:last-child {
        border-bottom-width: 1px;
        margin-bottom: 20px;
    }
}


.wl-new-lexeme-entry {
    input.input-lexeme {
        width: 80%;
    }
}
