<div class="top-container" ng-if="username">
	<div class="container">
		<h1 class="dashboard-greeting mega">Hi, {{ user.first_name }}!</h1>
		<p class="dashboard-user-since">Speak Agent since 2015</p>
		<h2>Things to Do</h2>
		<div class="row">
			<div class="activity-container col-lg-4 col-xs-4"
				ng-repeat="activity in user.activities">
				<div class="activity promo-card size-lg" ng-class="{last:$last}">
					<a href="#" title="Link to {{ activity.activity.title }}" class="activity-link">
						<p class="activity-course">Course Name</p>
						<img class="activity-image" src="/static/images/flashcards/promo-lg.jpg" alt="{{ activity.activity.title }}" />
						<div class="activity-info">
							<h3 class="activity-title">{{ activity.activity.title }}</h3>
							<p class="activity-wordlist">{{ activity.wordlist.title }}</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row see-more-cntr">
			<a href="/#/games" class="btn icon-activities icon-left hvr-icon-grow btn-primary">See More Activities</a>
		</div>
		<div class="row">
			<div class="recent-work col-md-4 col-sm-12">
				<h2 class="h3-interface-label">Recently Played</h2>
				<div class="col-md-12 col-sm-6 first">
					<div class="activity promo-card size-sml">
						<a href="#" title="Link to Activity Title" class="activity-link clearfix">
							<p class="activity-wordlist">Wordlist Title</p>
							<img class="activity-image" src="/static/images/matching/promo-sm.jpg" alt="Activity Title" />
							<div class="activity-info">
								<h3 class="activity-title">Activity Title</h3>
								<p class="activity-course">Course: Course Name</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-12 col-sm-6 last">
					<div class="activity promo-card size-sml">
						<a href="#" title="Link to Activity Title" class="activity-link clearfix">
							<p class="activity-wordlist">Wordlist Title</p>
							<img class="activity-image" src="/static/images/flashcards/promo-sm.jpg" alt="Activity Title" />
							<div class="activity-info">
								<h3 class="activity-title">Activity Title</h3>
								<p class="activity-course">Course: Course Name</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="achievements col-md-8 col-sm-12">
				<h2 class="h3-interface-label">Recent Trophies</h2>
				<div class="achievement-container"
				ng-class="{last:$last}"
				ng-repeat="achievement in user.user.badges">
					<div class="achievement">
						<div class="trophy">
							<em class="a-title">{{ achievement.title }}</em>
							<i class="fa fa-trophy"></i>
						</div>
					</div>
				</div>
				<div class="row see-more-cntr">
					<a href="/#/trophies/" class="btn btn-primary icon-left hvr-icon-grow icon-achievements">See More Trophies</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div ng-if="!username" ng-controller="LoginController">
	    <div class="login-container col-md-6 col-md-offset-3" ng-if="!authToken">
      <h1 ng-if="!authToken">Login</h1>
      <h1 ng-if="authToken">Logout</h1>
      <p>You must login in order to use this app.</p>
      <p class="error" ng-if="loginError">{{loginError}}
        <br>Please doublecheck your username and password.
      </p>
      <form ng-submit="doLogin()">
        <div class="form-group">
          <label class="item item-input"><span class="input-label">Username</span></label>
          <input type="text" ng-model="loginData.username">
        </div>
        <div class="form-group">
          <label class="item item-input"><span class="input-label">Password</span></label>
          <input type="password" ng-model="loginData.password">
          </div>
          <button class="btn btn-primary" type="submit">Log In</button>
      </form>
    </div>
</div>