<div>
	<h1>Hi, {{ user.first_name }}!</h1>
	<h2>Courses</h2>
	<ul>
		<li ng-repeat="course in user.courses">{{ course.title }}</li>
	</ul>
	<h2>Things to Do</h2>
	<div class="row">
		<div class="activity span4"
			ng-repeat="activity in user.activities">
			{{ activity.wordlist.title }}<br>
			{{ activity.activity.title }}<br>
			<span ng-if="activity.status == 'completed'">
				Done!
			</span>
			<span ng-if="activity.status == 'not_started'">
				Not started yet
			</span>
			<span ng-if="activity.status == 'started'">
				Partially done
			</span>
		</div>
	</div>
	<h2>Recent Trophies</h2>
	<div class="row">
		<div class="achievement span4"
		ng-repeat="achievement in user.user.badges">
			<em>{{ achievement.title }}</em><br>
			{{ achievement.description}}
		</div>
	</div>
</div>