    <!-- this part is shown when you are NOT logged in - e.g. if there
         is NO an authToken set -->

    <div class="login-container col-md-4" ng-if="!authToken">
      <h1 class="l-intro-msg">Welcome to<br />Speak Agent!</h1>
      <div class="l-inner">
        <p class="error" ng-if="loginError">{{loginError}}
          Please double-check your username and password.
        </p>
        <form class="form-login" ng-submit="doLogin()">
          <div class="form-group">
            <label class="item item-input"><span class="input-label">Username</span></label>
            <input type="text" ng-model="loginData.username">
          </div>
          <div class="form-group">
            <label class="item item-input"><span class="input-label">Password</span></label>
            <input type="password" ng-model="loginData.password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg icon-left hvr-icon-grow fa-sign-in" type="submit">Log In</button>
          </div>
        </form>
        <p><a href="mail&#116;o&#58;sup&#112;&#111;&#114;%74&#64;sp%6&#53;ak&#97;gent&#46;com?subject=I forgot the password to Speak Agent" class="f-pw-reminder">Help! I forgot my password!</a></p>
      </div>
      <div class="app-status"><a href="http://www.speakagent.com/site-policies/">Terms of Service</a> &middot; Invitation Only Pilot </div>
    </div>

    <!-- END not-logged-in part  -->



    <!-- this part is shown when you are logged in - if there is an authToken set -->

    <div class="logout-container col-md-4" ng-if="authToken">
      <h1>See you later, {{ user.first_name }}!</h1>
      <div class="l-inner">
        <p><strong>Are you all done for now?</p>
        <form class="form-inline form-logout" ng-submit="doLogout()">
          <div class="form-group">
            <button class="btn btn-lg btn-primary icon-left hvr-icon-grow fa-sign-out" type="submit">Yes! Log me out.</button>
          </div>
        </form>
      </strong>
    </div>

    <!-- END logged-in-only part  -->
