<div class="memory-cards cards_{{totalCards}}"
	ng-if="!done">
	<div
		class="card-container"
		ng-repeat="card in cards">
		<div class="card-controller"
		 	ng-click="flipCard(card)"
		 	ng-if="hideCards.indexOf(card.word.base_word.root_word+'-'+card.type)==-1">
			 <div ng-show = "showCards.indexOf(card.word.base_word.root_word+'-'+card.type)>-1"
			      class="card front">
				<span class="photo"><img src = "http://127.0.0.1:8000{{card.word.base_word.photos[0].image}}"
			 	  ng-if = "card.type == 'symbol'"></span>
				<span class="word" ng-if = "card.type == 'word'">
				{{ card.word.base_word.root_word }}
				</span>
			</div>
			<div ng-show = "showCards.indexOf(card.word.base_word.root_word+'-'+card.type)==-1"
			     class="card back">
			    <span class="pattern">
					<img src = "/static/images/matching/card-back-pattern.png">
				</span>
		 	</div>
		</div>
		<div ng-if="hideCards.indexOf(card.word.base_word.root_word+'-'+card.type)>-1">
			<div class="card empty"></div>
		</div>
	</div>
</div>
<div ng-if="done">
	<p>Congrats! You did it!</p>
	<p>You finished in {{ seconds }} seconds.</p>
	<p>You guessed correctly {{ correct }} times.</p>
	<p>You guessed incorrectly {{ wrong }} times.</p>
</div>

