<div class="matching-cards cards_{{totalCards}} clearfix"
	ng-if="!done">
	<div
		class="card-container"
		ng-repeat="card in cards">
		<div class="card-controller"
		 	ng-click="flipCard(card)"
		 	ng-if="hideCards.indexOf(card.word.base_word.root_word+'-'+card.type)==-1">
			 <div ng-if = "showCards.indexOf(card.word.base_word.root_word+'-'+card.type)>-1"
			      class="card front">
				<span class="photo"><img src = "http://127.0.0.1:8000{{card.word.base_word.photos[0].image}}"
			 	  ng-if = "card.type == 'symbol'"></span>
				<span class="word" ng-if = "card.type == 'word'">
				{{ card.word.base_word.root_word }}
				</span>
			</div>
			<div ng-if = "showCards.indexOf(card.word.base_word.root_word+'-'+card.type)==-1"
			     class="card back">
			    <span class="pattern">
					<img src = "/static/images/matching/card-back-pattern.png">
				</span>
		 	</div>
		</div>
		<div class="card-spaceholder" ng-if="hideCards.indexOf(card.word.base_word.root_word+'-'+card.type)>-1">
			<div class="card empty"></div>
		</div>
	</div>
    <div class="game-alerts"
        ng-if="status==1"
        >
        <div class="alert true">
          +{{pointsAwarded}}
        </div>
    </div>
</div>
<div class="game-complete" ng-show="done">
    <div class="frame">
      <div class="game-results clearfix">
        <div class="clearfix">
        <div class="result r-right-answers"><span class="result-label">Correct Matches</span><span class="result-number">{{ correct }}</span></div>
        <div class="result r-wrong-answers"><span class="result-label">Incorrect Matches</span><span class="result-number">{{ wrong }}</span> </div>
        <div class="result r-time-played"><span class="result-label">Seconds Played</span><span class="result-number">{{ seconds }}</span></div>
        </div>
        <div class="final-score">
          <h3>Final Score</h3>
          <span class="f-s-number">{{score}}</span>
        </div>
      </div>
      <div class="user-options">
        <ul>
          <li id="o-play-again"><a href="/#/games/memory/"><i class="fa fa-reply"></i> Play Again</a></li>
          <li id="o-back-home"><a href="/#/"><i class="fa fa-home"></i> Back Home</a></li>
        </ul>
      </div>
    </div>
</div>

