

<div class="wordlists app-container" role="main" ng-controller="WordListsController">
<div ng-if="!id">
	<div class="container">
		<h1>Your Wordlists</h1>
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4" ng-repeat="list in wordlists">
				<div class="card">
					<a href = "/#/words/{{list.pk}}">{{ list.title }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="id">
	<div ng-show="!wordID">
		<div class="container">
			<div class="row wordlist-header">
				<div class="wordlist-title col-md-8 col-sm-6 col-xs-12"><h1>{{ list.title }}</h1></div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<ul class="view-controls">
						<li>
							<button class="btn btn-primary"
							ng-click="display='grid'"><i class="fa fa-th-large"></i> Grid</button>
						</li>
						<li>
							<button class="btn btn-primary"
							ng-click="display='list'"><i class="fa fa-th-list"></i> List</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="row grid"
				ng-show="display=='grid'">
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4"
					ng-repeat="word in list.words">
					<div class="card">
						<a href = "/#/wordpair/{{ word.pk }}/">
							<img src = "http://127.0.0.1:8000{{ word.base_word.photos[0].image }}">
							<span>{{ word.base_word.root_word }}</span>
						</a>
					</div>
				</div>
			</div>

			<div class="row list"
				ng-show="display=='list'">
				<div class="card"
					ng-repeat="word in list.words">
					<a href = "/#/wordpair/{{ word.pk }}/">
					<span ng-if="list.words[wordID].base_word.audio_file"
						class="col-md-1">
						<audio controls>
			  				<source src="{{ audio_url(word.base_word.audio_file) }}"
			  					type="audio/mpeg">
			  				Your browser does not support the audio tag.
						</audio>
					</span>
					<span ng-if="!word.base_word.audio_file">No audio</span>
					<img src = "http://127.0.0.1:8000{{ word.base_word.photos[0].image }}">
					<span>{{ word.base_word.root_word }}</span>
					</a>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-primary btn-center">
					<a href = "/#/words/{{ id }}/0/"><i class="fa fa-comment"></i> Review All Words</a>
				</button>
			</div>
		</div>
	</div>

	<div ng-show="wordID" class="word-detail">
		<div class="container word-samples top">
			<h1>{{ list.words[wordID].base_word.root_word }}</h1>
			<div class="word-img-examples">
				<div class="word-img"
					ng-repeat="photo in list.words[wordID].base_word.photos"
					ng-class="{'first':$first,'second':$index==1,'last':$last}"
					ng-click="moveImage(photo)"
					>
					<img src="http://127.0.0.1:8000{{photo.image}}" alt="" />
				</div>
			</div>
		</div>
		<div class="secondary-content word-definition">
			<div class="container">
				<div class="col-md-3 col-xs-3 first">
					<div class="word-symbol">
						<img src="/static/images/symbols/fpo/cat.png" alt="" />
					</div>
					<div class="word-audio" ng-if="list.words[wordID].base_word.audio_file">
						<p class="button btn btn-primary">
							<audio id="word-player">
									<source src="{{ audio_url(list.words[wordID].base_word.audio_file) }}"
										type="audio/mpeg">
									Your browser does not support the audio tag.
							</audio>
							<span onclick="document.getElementById('word-player').play()"><i class="fa fa-play"></i> Listen</span>
						</p>
					</div>
				</div>
				<div class="col-md-9 col-xs-9">
					<div class="word-specification">
						<dl>
							<dt class="word-base">{{ list.words[wordID].base_word.root_word }}</dt>
								<dd class="word-base-meta">
								<span ng-if="list.words[wordID].base_word.gender.title != 'NA'">({{ list.words[wordID].base_word.word_class.title }}, {{ list.words[wordID].base_word.gender }})</span>
								<span ng-if="list.words[wordID].base_word.gender.title == 'NA'">({{ list.words[wordID].base_word.word_class.title }})</span>
								</dd>
							<dt class="word-trans">{{ list.words[wordID].trans_word.root_word }}</dt>
						</dl>
					</div>
					<div class="word-phrase-examples">
						<p>In a sentence:</p>
						<dl class="word-balloon">
							<dt class="sentence-base" ng-repeat-start="sentence in list.words[wordID].base_word.example_sentences">
								{{ sentence.text }}
							</dt>
							<dd class="sentence-trans" ng-repeat-end>{{ sentence.translations[0].text }}</dd>
						</dl>
					</div>
				</div>
				<div class="word-list-nav">
					<button class="prev-word" ng-if="wordID > 0">
						<a href="/#/words/{{ id }}/{{ getPrev(wordID) }}">
							<span><img src="http://127.0.0.1:8000{{ list.words[getPrev(wordID)].base_word.photos[0].image }}"/></span>
							<span>{{ list.words[getPrev(wordID)].base_word.root_word }}</span>
							<i class="fa fa-arrow-left"></i>
						</a>
					</button>
					<button class="next-word" ng-if="wordID < list.words.length - 1">
						<a href="/#/words/{{ id }}/{{ getNext(wordID) }}">
							<span><img src="http://127.0.0.1:8000{{ list.words[getNext(wordID)].base_word.photos[0].image }}" /></span>
							<span>{{ list.words[getNext(wordID)].base_word.root_word }}</span>
							<i class="fa fa-arrow-right"></i>
						</a>
					</button>
				</div>
			</div>
		</div>
		<div class="tertiary-content">
			<div class="container">
				<p>The area for additional information.</p>
			</div>
		</div>
	</div>
</div>